@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom styles for the code block */
.prose code:not(pre code) {
  --inline-code-color: 34 95% 50%; 
  --inline-code-bg: theme('colors.orange.100');
  @apply text-[color:hsl(var(--inline-code-color))] bg-[color:var(--inline-code-bg)] px-1 py-0.5 rounded font-medium;
}
.dark .prose code:not(pre code) {
  --inline-code-color: 34 95% 60%; 
  --inline-code-bg: theme('colors.orange.800'); 
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
